.accordionCategory{
    display: flex;
    width: 100%;
    
    padding: 17px  7px 4px 30px;
    
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}
.arrow{
    
   
    font-size: 24px;
    font-weight: 100;
}
.accordionBorderLine{
    
    width: 80%;
    border: 0.5px solid rgb(247, 243, 243);
    margin: auto;
}
.categoryType{
    font-family: montserrat,sans-serif;
    font-size: 14px;
    color:#333;
    cursor: pointer;

}