.subcategoryName{
    
   
    padding:7px 40px;
    font-size: 12px;
    color: rgba(45,45,45,.7);
    font-family: montserrat,sans-serif;
    transition: all .2s ease-in 0s;

    cursor: pointer;
   

}
.subcategoryName:hover{
   background-color: rgb(247, 244, 244);
}
.accordionInnerContainer{
    margin-top: 10px;

}