

.bestSellerHeading{
    font-family: montserrat,sans-serif!important;
    font-size: 16px!important;
    font-weight: 550;
    
    margin-top: 16px;
    text-align: center;
    margin-bottom: 35px;
}

.sliderCard{
    width:40%;
}

.exploreAll{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    color: #42a2a2!important;
    font-weight: 600;
    text-decoration: underline;
}


@media only screen and (max-width: 767px) {
    .bestSellerSliderCard{
    
        width: 50% !important;
        
    
      
    }
}