.banner3Text{
    font-size:20px;
    font-family: montserrat,sans-serif;
    font-weight: 550;
    letter-spacing: 2px;
    margin-top: 16px;
    text-align: center;
    margin-bottom: 15px;
    background-color: white;
}
.bannerImageFull{
    width: 100%;
}
.bannerImageFull img{
    width: 100%;
}