.checkoutMainContainer{
    
    width:76%;
    /* height:400px; */
    margin: 78px auto;
    /* outline: 1px solid red; */
    display: flex;
}
.paymentMethodText{
    font-family: montserrat-bold,sans-serif!important;
    font-size: 16px;
    margin-top: 20px;
    
}
.paymentContainer{
    flex:2;
    /* outline: 1px solid red; */
    /* height: 200px; */
    border-right: 0.3px solid grey;
    box-sizing: border-box;
    padding:20px;
}
.cartAndPriceContainer{
    flex:1;
    /* outline: 1px solid red; */
    /* height: 200px; */
}

.paymentOptionContainer{
    display: flex;
    margin-top: 20px;
    border: 0.3px solid rgb(196, 193, 193);
    
}
.paymentOptions{
    width:35%;
    /* height: 200px; */
    /* outline: 1px solid red; */
    background-color: #f7f7f7;
}
.paymentType{
   height: 72px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 20px;
   /* outline: 1px solid red; */
   border: 1px solid rgb(226, 226, 226);
   box-sizing: border-box;
   font-family: montserrat-bold,sans-serif!important;
   font-size: 14px;
   font-weight: 400;
   background-color: #f7f7f7;
   opacity: 0.55;
   cursor: pointer;
   border-right: none;
}


.paymentTypeOnClick{
    border-left: 4px solid #42a2a2;
    background-color: white;
    opacity: 1;
    font-weight: 600;
}
.paymentType img{
    height: 23px;
    width: 23px;
}
.paymentForm{
    width:65%;
    /* height: 200px; */
    /* outline: 1px solid red; */
}


.cartAndPriceContainer{
    box-sizing: border-box;
    padding: 20px;
}
.Name{
    font-size: 12px;
    color: #6d6c6c;
    font-family: montserrat-bold,sans-serif!important;
    margin-top: 15px;
}
.Address{
    font-size: 14px;
    color: #6d6c6c;
    font-family: montserrat-bold,sans-serif!important;
    margin-top: 10px;

}
.checkoutLine{
    border: 1px solid rgb(209, 206, 206);
    margin-top: 15px;
}

.youArePayingFor{
    font-size: 14px;
    
    font-family: montserrat-bold,sans-serif!important;
    margin-top: 17px;
    margin-bottom: 1rem;
    color: rgb(44, 43, 43);
}
.checkoutCartCard{
    display: flex;
    gap:15px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(187, 185, 185);
    padding-top: 10px;
}
.checkoutCartCard img{
    height:45px;
    width: 36px;
}
.checkoutCardBrandName{
    font-size: 12px;
    
    font-family: montserrat-bold,sans-serif!important;
    color:#949292;
}
.estimatedDelivery{
    font-size: 12px;
    
    font-family: montserrat-bold,sans-serif!important;
    color:#949292;
    margin-top: 7px;
}

.checkoutPriceSmmary{
    font-family: montserrat-bold,sans-serif!important;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 1rem;
    font-weight: 600;
}
.checkoutPrice{
    display: flex;
    justify-content: space-between;
    font-family: montserrat,sans-serif!important;
    font-size: 12px!important;
    line-height: 18px!important;
    color:#333;
    margin-top: 10px;
    margin-bottom: 10px;

}

.checkoutBottomImages{
    display: flex;
    gap:15px;
    justify-content: center;
    margin-top: 20px;
}
@media only screen and (max-width: 990px) {
    .checkoutMainContainer{
        width:90%;
    }
}
@media only screen and (max-width: 767px) {
    .checkoutMainContainer{
        width:99%;
    }
}