.size{
    height:47px;
    width:47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
}
.size span{
    font-size: 14px;
    color: grey;
}
.active{
    background-color: black;
    color:white;
    font-size: 18px;
}