.cartUpperContainer{
    
    width:25rem;
    /* height:15rem; */
    /* outline: 1px solid red; */
    margin:78px  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartEmptyImage{
   margin-top: 30px ;
   display: flex;
   justify-content: center;
}
.cartEmptyImage img{
    width:40%;
    height: auto;
}
.nothingInTheBag{
    margin-top: 10px;
    font-size: 18px;
    color: rgba(0,0,0,.8);
}
.continueShopping{
    margin-top: 10px;

}
.continueShopping button{
    padding:10px;
    border:1px solid #51cccc;
    color:#51cccc;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.borderLine{
    margin-top: 30px;
    border: 1px solid rgb(201, 199, 199);
    width:100%;
}
.emptyText{
    margin-top: 20px;
    font-size: 14px;
    color: rgba(0,0,0,.8);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.categoryLinks{
   width: 100%;
}
.categoryLinkChild{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.catLink{
    text-decoration: underline;
    color: #51cccc;
    font-size: 14px;
    margin-bottom: 15px;
    cursor: pointer;

}
.linkHeader{
    font-size: 14px;
}