.slider{
    margin-top: 140px;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    
    
}
.sliderLeftArrow{
    position: absolute;
    left:0;
    top:45%;
    z-index: 4;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sliderLeftArrow i{
    font-size: 36px;
}
.sliderRightArrow{
    position: absolute;
    right:0;
    top:45%;
    z-index: 4;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sliderRightArrow i{
    font-size: 36px;
}
/* .sliderImage{
    width:30%;
    height: auto;
}

.sliderImage img{
    width: 100%;
    height: auto;
} */
.card{
    padding: 0 15px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.card img{
    width: 110%;
    height: 106%;
    object-fit: contain;
}