.slider{
    margin-top: 140px;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    
    

    
}
/* .sliderImage{
    width:30%;
    height: auto;
}

.sliderImage img{
    width: 100%;
    height: auto;
} */
.card{
    padding: 0 15px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}