.signupContainer{
    margin-top: 78px;
    width:100%;
    /* height: 500px; */
    /* outline: 1px solid red; */
    display: flex;
}
.loginLeft{
    flex:1;
    height: 100%;
    /* outline: 1px solid black; */
    height: 90vh;
   
}
.loginImage{
    background-color: rgb(243, 223, 223);
    padding-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.loginImage img{
    
    width:80%;
    height: 100%;
    
}
.loginRight{
    flex:1;
    height: 100%;
    /* outline: 1px solid green; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupLogin{
    font-size: 24px;
    font-family: montserrat-bold,sans-serif;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 22px;
}
.loginText{
    font-family: montserrat,sans-serif;
    font-size: 18px;
    color: #a0a0a0;
    margin: 0 0 70px;
    line-height: 1.44;
    font-weight: 500;
}

.loginLeftHeading{
    margin-top: 50px;
   
    font-size: 30px;
    
    font-family: montserrat-bold,sans-serif;
    color: #000;
    margin: 6% 0 0 5%;
    letter-spacing: .59px;
    line-height: 1.33;
    
    
}
.inputMobileNumber{
    height: 60px;
    width:55%;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.countryCode select{
    padding:5px 7px;
    background-color: rgb(236, 233, 233);
    border-radius: 3px;
    border: none;
    margin-left: 10px;
}
.mobileNumber input{
    font-size: 16px;
    color:#000;
    font-weight: 500;
    border: none;
    outline: none;
    margin-left: 20px;
    
}

.continueButton{
    margin-top: 10px;
    width: 55%;

}

.continueButton button{
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42a2a2;
    border: none;
    border-radius: 5px;
    color:#fff;
    font-size: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.lineOrLine{
    display: flex;
    margin-top: 25px;
    width:65%;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.lineOrLine .line{
    border: 1px solid rgb(209, 207, 207);
    height:0.1px;
    width: 50%;
    
}
.lineOrLine .or{
    font-size: 14px;
}

.continueWithEmail{
    margin-top: 25px;
    width: 50%;

}

.continueWithEmail button{
    width:100%;
    height:40px;
    display: flex;
    color:rgb(90, 88, 88);
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px soild rgb(230, 226, 226);
    border-radius: 5px;
    
    font-size: 14px;
    font-family: montserrat,sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.googleFacebook{
    margin-top: 20px;
    width: 50%;
    display: flex;
    gap:10px;
}

.googleFacebook button{
    width:50%;
    height:40px;
    display: flex;
    color:rgb(90, 88, 88);
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px soild rgb(230, 226, 226);
    border-radius: 5px;
    gap:10px;
    font-size: 14px;
    font-family: montserrat,sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.bottomText{
    margin-top: 40px;
    width:55%;
    font-size: 12px;
    color: #a0a0a0;
    font-family: montserrat,sans-serif;
    line-height: 20px;
    font-weight: 400;
}

.signupResponse{
    margin-top: 20px;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.fail{
    color:red;
}
.success{
    color:green;
}